body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      

    background-color: rgb(96, 33, 41);
}

h1 {
    color: aquamarine;
    margin-bottom: 50px;
}

.buttons {
    width: 60%;
    margin-top: 10%;

    display: flex;
    justify-content: space-around;
}

p {
    padding: 20px 40px;
    background-color: rgb(35, 115, 181);
    color: antiquewhite;
    border: 2px solid white;
}